
  <header id="header" class="top">
    <div class="container2">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-lg-7 col-md-7 col-sm-12 d-flex align-items-center">
              <nav class="navbar2">
                  <ul>
                    
                    <li class="p">soy</li>
                      <li><a class="nav-link" aria-label="Aspirante" href="https://pascualbravo.edu.co/aspirantes/">Aspirante</a></li>
                      <li><a class="nav-link" aria-label="Estudiantes" href="https://pascualbravo.edu.co/estudiantes/">Estudiante</a></li>
                      <li><a class="nav-link" aria-label="Egresado" href="https://pascualbravo.edu.co/egresados/">Egresado</a></li>
                      <li><a class="nav-link" aria-label="Docente/Empleado" href="https://pascualbravo.edu.co/docentes-y-empleados/">Docente/Empleado</a></li>
                      <li><a class="nav-link" aria-label="Niño" href="https://pascualbravo.edu.co/kids/">Niño</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 d-flex align-items-center justify-content-center">
              <a href="#">
                  <img src="assets/img/header/en-us.png"  class="img-fluid" style="width: 20px; height: auto;" alt="Cambiar idioma a Inglés">
              </a>
              <a href="#">
                  <img src="assets/img/header/es-co.png"  class="img-fluid" style="width: 20px; height: auto;" alt="Cambiar idioma a Español">
              </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
              <div class="social-links text-center text-md-right pt-3 pt-md-0">
                  <a href="https://www.facebook.com/IUPascualBravo" aria-label="El sitio Facebook de la institución" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://twitter.com/IUPascualBravo" aria-label="El sitio twitter de la institución" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.instagram.com/iupascualbravo/" aria-label="El sitio instagram de la institución"  class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.youtube.com/user/iupascualbravo" aria-label="El sitio Youtube de la institución" class="youtube"><i class="bx bxl-youtube"></i></a>
              </div>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-6 d-flex align-items-center justify-content-center">
              <nav id="navbar3" class="navbar3 d-flex align-items-right">
                  <ul>
                      <li><a class="active" aria-label="Acceso SICAU" href="https://sicau.pascualbravo.edu.co/SICAU/Account/Login">Acceso SICAU</a></li>
                  </ul>
              </nav>
          </div>
      </div>
    </div>
  </div>
  <button class="show-content-button btn btn-primary2 d-lg-none" aria-label="Abrir mas opciones">
    <i class="bi bi-eye"></i> 
  </button>

    <div class="container d-flex align-items-center justify-content-between col-lg-12 col-md-12 col-sm-12">

      <a href="https://pascualbravo.edu.co/#" aria-label="Página institucional"><img src="assets/img/Logo.svg" class="logo2 mx-1 my-1"  alt="Logo pascual bravo"></a>
      <a  type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"><img class="img-accesibilidad" src="assets/img/Btn-accesibilidad.png" alt="Boton de accesibilidad"></a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" alt="Inicio" href="../home">Inicio</a></li>
          <li><a class="nav-link scrollto" alt="Unidad de Educación Digital" href="../unidad">Unidad de Educación Digital</a></li>
          <li><a class="nav-link scrollto" alt="Competencia Digital Docente" href="../competencia">Competencia Digital Docente</a></li>
          <li><a class="nav-link scrollto" alt="Recursos Educativos Digitales" href="recursos.html">Recursos Educativos Digitales</a></li>
          <li><a class="nav-link scrollto" alt="Centro de Soporte" href="estudiantes.html">Centro de Soporte</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
       <!-- .navbar -->
       

    </div>

  </header><!-- End Header -->
