<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-6 footer-contact footer-links">
          <h4>DÓNDE ESTAMOS</h4>
          <p>
            <strong>Sede Robledo</strong><br />Calle 73 # 73A – 226<br />Medellín,
            Colombia<br /><strong>Apartado aéreo</strong>: 6564
          </p>
          <p>
            <a
              href="https://www.google.com/maps/dir/6.277494,-75.5852633/Instituci%C3%B3n+Universitaria+Pascual+Bravo,+Cl.+73+%23+73a-226,+Pilarica,+Medell%C3%ADn,+Robledo,+Medell%C3%ADn,+Antioquia/@6.2754197,-75.588485,17z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x8e44293b5709163d:0x2744a3a12c601259!2m2!1d-75.5858178!2d6.2733441!3e0?entry=ttu"
              aria-label="¿Cómo llegar?"
              >¿Cómo llegar?</a
            >
          </p>
          <br />
          <h4>SERVICIOS WEB</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://isolucion.pascualbravo.edu.co:12443/Isolucion/PaginaLogin.aspx"
                >Isolución</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://portal.azure.com/#blade/Microsoft_Azure_Education/EducationMenuBlade/software"
                >Azure Dev Tools</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/academico/bibliotecas/"
                >Biblioteca</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/boletines-internos/"
                >Boletines internos</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;service=mail&amp;hd=pascualbravo.edu.co&amp;sacu=1&amp;flowName=GlifWebSignIn&amp;flowEntry=AddSession"
                >Correo Institucional</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="http://bravonet:8080/">Intranet</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="http://10.0.0.46:8080/">Kactus</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="http://200.13.244.221:2880/mercurio/index.jsp"
                >Mercurio</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://www.microsoft.com/es-xl/education/products/office?ms.officeurl=getoffice365"
                >Office 365</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/comunicaciones/"
                >Sala de prensa</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                aria-label="Acceso SICAU"
                href="https://sicau.pascualbravo.edu.co/SICAU/Account/Login"
                >Acceso SICAU</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://arrobamedellin.edu.co/">&#64;Medellín</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>INSTITUCIONAL</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/academico/bibliotecas/"
                >Biblioteca</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/academico/bienestar-universitario/sobre-bienestar/"
                >Bienestar Univesitario</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/acerca-del-pascual/campus-universitario/"
                >Campus Universitario</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/calendario/">Eventos</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/acerca-del-pascual/historia/"
                >La Institución</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/internacionalizacion/becas-y-financiacion/"
                >Internacionalización</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/direccionamiento-estrategico/normograma/"
                >Normograma</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/new_pits/#">Novedades</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a
                href="https://pascualbravo.edu.co/academico/bienestar-universitario/presupuesto-participativo/"
                >Presupuesto Participativo</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/reglamentoestudiantil/"
                >Reglamento Estudiantil</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/ayuda/derechos-pecunarios/"
                >Tarifas / Derechos Pecuniarios</a
              >
            </li>
            <li>
              <i class="bx bx-chevron-right"></i
              ><a href="https://pascualbravo.edu.co/ayuda/tratamiento-datos/"
                >Tratamiento de datos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>PROGRAMAS Y SERVICIOS​</h4>
          <ul>
<li><i class="bx bx-chevron-right"></i><a href="https://sicau.pascualbravo.edu.co/SICAU/Aspirante/Aspirante/InstruccionesDeInicioDeInscripcion">Inscripciones</a></li>
<li><i class="bx bx-chevron-right"></i><a href="https://pascualbravo.edu.co/pregrados/">Pregrados</a></li>
<li><i class="bx bx-chevron-right"></i><a href="https://pascualbravo.edu.co/posgrados/">Posgrados</a></li>
<li><i class="bx bx-chevron-right"></i><a href="https://pascualbravo.edu.co/extension/educacion-continua/">Cursos y Diplomados</a></li>
<li><i class="bx bx-chevron-right"></i><a href="https://pascualbravo.edu.co/investigacion/vicerrectoria-de-investigacion-y-extension/">Investigación</a></li>
<li><i class="bx bx-chevron-right"></i><a href="https://pascualbravo.edu.co/extension/">Extensión</a></li>
</ul>
        </div>

       <div class="col-lg-3 col-md-6 footer-links">
    <h4>CONTACTO</h4>
    <p><strong>Línea única de atención</strong>:<br />+57 (604) 448 0520</p>
    <p><strong>Línea gratuita:<br /></strong>01 8000 510944</p>
    <p><strong>Línea WhatsApp:</strong><br />302 246 46 99</p>
    <p>
    <strong>Correo electrónico:</strong><br />
    cis&#64;pascualbravo.edu.co<br />
    notificacionesjudiciales&#64;pascualbravo.edu.co<br />
    secretaria&#64;pascualbravo.edu.co<br />
    pqrs&#64;pascualbravo.edu.co<br />
    anticorrupcion&#64;pascualbravo.edu.co
</p>
    <p>
        <a href="https://pascualbravo.edu.co/ayuda/preguntas-frecuentes/" aria-label="Preguntas frecuentes">Preguntas frecuentes</a><br />
        <a href="https://pascualbravo.edu.co/ayuda/p-q-r-d-f/generar-p-q-r-d-f/" aria-label="PQRDF">PQRDF</a><br />
        <a href="https://pascualbravo.edu.co/ayuda/terminos-y-condiciones/" aria-label="Términos y condiciones">Términos y condiciones</a><br />
        <a href="https://pascualbravo.edu.co" aria-label="Política de seguridad y privacidad de la información">Política de seguridad y privacidad de la información</a><br />
        <a href="https://pascualbravo.edu.co/ayuda/habeas-data/" aria-label="Habeas data">Habeas data</a><br />
        <a href="https://pascualbravo.edu.co/ayuda/mapa-del-sitio/" aria-label="Mapa del sitio">Mapa del sitio</a>
    </p>
    <p><strong>Institución Universitaria Pascual Bravo</strong><br />Adscrita a la Alcaldía de Medellín</p>

    <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/IUPascualBravo" aria-label="El sitio Facebook de la institución" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/IUPascualBravo" aria-label="El sitio twitter de la institución" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/iupascualbravo/" aria-label="El sitio instagram de la institución" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.tiktok.com/@iupascualbravo?_d=secCgYIASAHKAESMgowiE12DK49FDLqOPuJC28SpbDICW8R%2FXIG3rqWQB9DcsXxF3vqCHShmt44x8Q9rcKaGgA%3D&language=es&sec_uid=MS4wLjABAAAAbjfMl6oABxh1jXvkNipL0wrL17s7i0aQMft-iR7S1FBmWKchs11ORU1vAonrrhlD&sec_user_id=MS4wLjABAAAAWzyp1yhWvdbPDscwI7yepiVsFh9Vo5_52Z0xtlOLWopzKy_xRhnzFYqf25d36Jl_&share_app_id=1233&share_author_id=6917284114392318982&share_link_id=428d1a0e-53c7-4851-9ac8-09e78b64151f&timestamp=1628014160&u_code=dblgl68f131ehm&user_id=6814243726560150533&utm_campaign=client_share&utm_medium=android&utm_source=copy&_r=1" aria-label="El sitio tiktok de la institución" class="tiktok"><i class="bx bxl-tiktok"></i></a>
        <a href="https://www.linkedin.com/school/pascualbravoinstitucionuniversitaria/?originalSubdomain=co" aria-label="El sitio linkedin de la institución" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.youtube.com/user/iupascualbravo" aria-label="El sitio Youtube de la institución" class="youtube"><i class="bx bxl-youtube"></i></a>
    </div>
</div>


        <div class="col-lg-3 col-md-6 footer-links">
          <h4>ENLACES SOCIALES</h4>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a
              href="https://www.facebook.com/IUPascualBravo"
              aria-label="Facebook"
              ><i class="bx bxl-facebook"></i
            ></a>
            <a href="https://twitter.com/IUPascualBravo" aria-label="Twitter"
              ><i class="bx bxl-twitter"></i
            ></a>
            <a
              href="https://www.instagram.com/iupascualbravo/"
              aria-label="Instagram"
              ><i class="bx bxl-instagram"></i
            ></a>
            <a
              href="https://www.tiktok.com/@iupascualbravo?_d=secCgYIASAHKAESMgowiE12DK49FDLqOPuJC28SpbDICW8R%2FXIG3rqWQB9DcsXxF3vqCHShmt44x8Q9rcKaGgA%3D&language=es&sec_uid=MS4wLjABAAAAbjfMl6oABxh1jXvkNipL0wrL17s7i0aQMft-iR7S1FBmWKchs11ORU1vAonrrhlD&sec_user_id=MS4wLjABAAAAWzyp1yhWvdbPDscwI7yepiVsFh9Vo5_52Z0xtlOLWopzKy_xRhnzFYqf25d36Jl_&share_app_id=1233&share_author_id=6917284114392318982&share_link_id=428d1a0e-53c7-4851-9ac8-09e78b64151f&timestamp=1628014160&u_code=dblgl68f131ehm&user_id=6814243726560150533&utm_campaign=client_share&utm_medium=android&utm_source=copy&_r=1"
              aria-label="TikTok"
              ><i class="bx bxl-tiktok"></i
            ></a>
            <a
              href="https://www.linkedin.com/school/pascualbravoinstitucionuniversitaria/?originalSubdomain=co"
              aria-label="LinkedIn"
              ><i class="bx bxl-linkedin"></i
            ></a>
            <a
              href="https://www.youtube.com/user/iupascualbravo"
              aria-label="YouTube"
              ><i class="bx bxl-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Clientes -->

  <section id="clients" class="clients section-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div
            id="clientCarousel"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="3000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div
                    class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center"
                    data-aos="zoom-in"
                  >
                    <a href="https://www.gov.co">
                      <img
                        src="assets/img/footer/gov.png"
                        class="img-fluid"
                        alt="Direccionamiento plataforma del gobierno colombiano www.gov.co"
                    /></a>
                  </div>
                  <div
                    class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center"
                    data-aos="zoom-in"
                  >
                    <a href="https://www.colombia.co">
                      <img
                        src="assets/img/footer/colombia.png"
                        class="img-fluid"
                        alt="Direccionamiento plataforma del gobierno colombiano www.colombia.co"
                    /></a>
                  </div>
                  <!-- Añadir otros elementos según sea necesario -->
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <!-- Añadir otros elementos según sea necesario -->
                </div>
              </div>
              <div class="carousel-item">
                <div class="row justify-content-center">
                  <!-- Añadir otros elementos según sea necesario -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Clients Section -->

  <!-- end clientes -->
</footer>
<!--End Footer -->

<!--Inicio footer 2 Footer -->
<footer id="footer2">
  <div class="container d-md-flex py-4">
    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        <p>
          La Institución Universitaria Pascual Bravo sujeta a vigilancia del
          Ministerio de Educación Nacional, según el artículo 39 del decreto
          1295 de 2010.
        </p>
        <p>
          <a
            href="https://pascualbravo.edu.co/ayuda/terminos-y-condiciones/"
            aria-label="Términos y condiciones"
            >Términos y condiciones
          </a>
          <a>
            – Política de privacidad y tratamiento de datos personales –
            Política de derechos de autor y/o autorización de uso sobre los
            contenidos</a
          >
        </p>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a
        href="https://www.facebook.com/IUPascualBravo"
        aria-label="Facebook"
        class="facebook"
        ><i class="bx bxl-facebook"></i
      ></a>
      <a
        href="https://twitter.com/IUPascualBravo"
        aria-label="Twitter"
        class="twitter"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        href="https://www.instagram.com/iupascualbravo/"
        aria-label="Instagram"
        class="instagram"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        href="https://www.tiktok.com/@iupascualbravo?_d=secCgYIASAHKAESMgowiE12DK49FDLqOPuJC28SpbDICW8R%2FXIG3rqWQB9DcsXxF3vqCHShmt44x8Q9rcKaGgA%3D&language=es&sec_uid=MS4wLjABAAAAbjfMl6oABxh1jXvkNipL0wrL17s7i0aQMft-iR7S1FBmWKchs11ORU1vAonrrhlD&sec_user_id=MS4wLjABAAAAWzyp1yhWvdbPDscwI7yepiVsFh9Vo5_52Z0xtlOLWopzKy_xRhnzFYqf25d36Jl_&share_app_id=1233&share_author_id=6917284114392318982&share_link_id=428d1a0e-53c7-4851-9ac8-09e78b64151f&timestamp=1628014160&u_code=dblgl68f131ehm&user_id=6814243726560150533&utm_campaign=client_share&utm_medium=android&utm_source=copy&_r=1"
        aria-label="TikTok"
        class="tiktok"
        ><i class="bx bxl-tiktok"></i
      ></a>
      <a
        href="https://www.linkedin.com/school/pascualbravoinstitucionuniversitaria/?originalSubdomain=co"
        aria-label="LinkedIn"
        class="linkedin"
        ><i class="bx bxl-linkedin"></i
      ></a>
      <a
        href="https://www.youtube.com/user/iupascualbravo"
        aria-label="YouTube"
        class="youtube"
        ><i class="bx bxl-youtube"></i
      ></a>
    </div>
  </div>
</footer>
