<app-header></app-header> 
      <section id="docente" class="d-flex align-items-center">
      </section>
      <!-- End ued -->
      <section id="suport" class="cdd">
         <div class="container" data-aos="fade-up">
            <div class="row gy-4 d-flex align-items-center text-left" data-aos="fade-up" data-aos-delay="100">
               <div class="col-lg-6 col-md-6">

                  <div class="container" data-aos="fade-up">
                     <div class="section-title2">
                        <h2>Ayuda para docentes</h2>
                     </div>
                     <p>Estimados profesores pascualinos, somos la Unidad de Educación Digital y les damos la bienvenida a este espacio académico y de aprendizaje.</p>
                     <p>Recuerda que, como profesor en modalidad virtual, estás comprometido con la autogestión del conocimiento, la autorregulación de tiempos y la gestión de los espacios formativos.</p>
                     <p>Por lo tanto, este espacio nos permitirá ayudar y resolver dudas para que tengas una buena experiencia como guía del aprendizaje en la modalidad virtual.</p>
                  </div>
               </div>
               <!-- End Service Item -->
               <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                  <img  class="img-fluid img-btn2" src="assets/img/docente/Docente.png">
               </div>
            </div>
         </div>
      </section>
      <!-- End Our Services Section -->
       <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq section-bg">
         <div class="container" data-aos="fade-up">

            <div class="container" data-aos="fade-up">
               <div class="section-title3">
                  <h2>Preguntas frecuentes</h2>
                  <h3>¿Tienes preguntas? </h3>
               </div>
               <p>Aquí encontrarás preguntas frecuentes formuladas por nuestros docentes.</p>
            </div>
            <div class="faq-list">
      <ul>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(1)">
    <i class="bx bx-help-circle icon-help "></i>
    <a  data-bs-toggle="collapse" class="list collapse" data-bs-target="#faq-list-1">
      ¿Cómo accedo al curso o módulo virtual?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
      <p>Como profesor pascualino, puede ingresar al campus virtual institucional y, en la parte superior derecha, escribir los datos de identificación (el usuario es el correo institucional y la contraseña, la asignada al momento de creación del perfil).
         Una vez dentro del campus, podrá visualizar un menú, en la parte central de la pantalla, en donde se dispone la opción “Mis cursos” y ahí podrá visualizar los cursos activos.</p>
    </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(2)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="list collapsed">
      ¿Cómo verificar la dirección de correo electrónico institucional?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
      <p>Debe escribir un correo al líder del programa para proceder con la gestión...</p>
      <p>Para acceder al directorio de líderes de programa, acceda al <a href="https://docs.google.com/document/d/1xJNGS4l5fo_aLjAwcjizVePX9T1nva3M/edit#bookmark=id.ow8prk4ipg7z" target="_blank">Directorio institucional</a>.</p>
    </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(3)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="list collapsed">
      ¿Cómo ingresar a la clase en modalidad virtual alojada en campus integrado?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
    <p>Ingresa al siguiente enlace: <a href="https://campus.pascualbravovirtual.edu.co/" target="_blank" rel="noopener">https://campus.pascualbravovirtual.edu.co/</a></p>
 </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(4)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="list collapsed">
      ¿Cómo ingresar a la clase en modalidad virtual alojada en &#64;Medellín?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
   <p>Ingresa al siguiente enlace: <a href="https://campus.arrobamedellin.edu.co/" target="_blank" rel="noopener">https://campus.arrobamedellin.edu.co/</a></p>
 </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(5)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="list collapsed">
      ¿Si tengo correo institucional, ¿me sirve para acceder a mis cursos?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
   <p>El campus virtual de la Institución Universitaria Pascual Bravo tiene como usuario el correo institucional. Si usted no lo recuerda, debe dirigirse al líder del programa para que sea validado y corregido.</p>
 </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(6)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="list collapsed">
      ¿Cómo asignar los grupos de trabajo en las aulas virtuales?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
   <p>Para configurar los grupos en cada curso o módulo, debe ingresar al módulo que esté guiando, en la parte derecha al menú, Editar ajustes, seleccionar el enlace de grupos y desde ahí diligenciar de acuerdo con las características esperadas del profesor, las opciones modo de grupos, forzar el modo de grupos y agrupamiento por defectos.</p>
 </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(7)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="list collapsed">
      ¿Cómo gestionar las calificaciones dentro del campus virtual?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
       <p>Para la gestión de las calificaciones dentro de la plataforma de campus virtual institucional, debe ingresar al curso o módulo académico en oferta, debe dirigirse a la parte derecha inferior, en la cual aparece la opción de navegación, y justo ahí, visualizar la opción calificaciones. En ese botón, encuentra las opciones de vista, configuración, exportación y escalas de valoración, cada menú permite visualizar y gestionar, las calificaciones. Si requiere más información, diríjase a la opción de videos y tutoriales.</p>
   </div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(8)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="list collapsed">
      ¿Qué sería recomendable para poder realizar con éxito un curso virtual?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
  <p>Aparte de disponer de computador con conexión a Internet, así como unos mínimos conocimientos informáticos, es especialmente importe, considerar las siguientes condiciones: </p>
                        <p>Capacidad de <strong>planificación</strong> del tiempo y tareas.</p>
                        <p><strong>Flexibilidad</strong> para adaptarse a nuevas formas de aprendizaje.</p>
                        <p>Predisposición para la <strong>participación</strong> y el trabajo colaborativo.</p>
                        <p><strong>Competencias digitales docentes </strong>en el manejo y uso de las tecnologías digitales, así como una actitud favorable hacia las mismas. </p>
                        <p><strong>Disponibilidad de tiempo</strong>.</p></div>
  </li>
  <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(9)" data-aos-delay="100">
    <i class="bx bx-help-circle icon-help"></i>
    <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="list collapsed">
      ¿Cómo puedo realizar los encuentros sincrónicos con los estudiantes virtuales?
      <i class="bx bx-chevron-down icon-show"></i>
      <i class="bx bx-chevron-up icon-close"></i>
    </a>
    <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
       <p>Si presenta alguna dificultad, duda o necesita asesoría, debe escribir un correo (puede ser desde una cuenta de correo personal) a <strong>gestioncorreos&#64;pascualbravo.edu.co</strong> incluyendo:</p>
                        <p>Para realizar los encuentros sincrónicos con el grupo asignado en los módulos académicos, el profesor debe integrar a su módulo académico dispuesto en el campus virtual y justo después de entrar al módulo académico que está impartiendo, debe buscar en el menú de la parte derecha la opción de encuentros sincrónicos, los cuales ya fueron configurados y puestos a disposición por la Unidad de Educación Digital.</p>
</div>
  </li>
</ul>

            </div>
         </div>
      </section>


      

<app-cis></app-cis>
<app-footer></app-footer>