<app-header></app-header>
<!-- ======= UED Section ======= -->
<section id="ued" class="d-flex align-items-center">



</section><!-- End ued -->


<section id="services" class="services">
  <div class="container" data-aos="fade-up">



    <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-4 h-100">


        <div class="container" data-aos="fade-up">
          <div class="section-title2">
            <h2>Somos una dependencia</h2>
          </div>
          <p>Adscrita a la Vicerrectoría de Docencia y nuestras funciones son coordinar, promover y
            desarrollar los procesos de formación virtual, en concordancia con las disposiciones y regulaciones del
            MEN.</p>
          <p>De igual forma, constituye la promoción, el apoyo y el fortalecimiento de la docencia, la investigación y
            la extensión a través de la integración creativa, crítica e innovadora.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-4">
        <div class="service-item h-100">
          <div class="icon d-flex align-items-center">
            <img src="assets/img/ued/iconm.svg" class="img-fluid img-icon" alt="Unidad de Educación Digital">
            <h3>Misión</h3>
          </div>

          <p>La Unidad de Educación Digital busca promover, apoyar y fortalecer la docencia, la investigación y la
            extensión a través de la integración creativa, crítica e innovadora de las Tecnologías de la Información y
            la Comunicación, en el marco de la formación y la investigación tecnológica como insumo fundamental para
            generar diversas formas enseñar, aprender y producir conocimiento para la transformación de los
            territorios con inclusión y equidad.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-4">
        <div class="service-item h-100">
          <div class="icon d-flex align-items-center">
            <img src="assets/img/ued/iconv.svg" class="img-fluid img-icon" alt="Unidad de Educación Digital">
            <h3>Visión</h3>
          </div>

          <p>En el 2030 se consolidará la Unidad Educación Digital en función de la formación y cualificación de la
            comunidad académica para la investigación y transformación de escenarios educativos flexibles, adaptativos
            y experienciales con impacto en el sector empresarial y en la sociedad.</p>
        </div>
      </div><!-- End Service Item -->



    </div>

  </div>
</section><!-- End Our Services Section -->



<section id="objetives" class="objetives">
  <div class="section-title">
    <h2>Objetivos</h2>

  </div>
  <div class="container position-relative">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-stretch mb-5">
        <div class="objetive-item">
          <div class="icon text-center">
            <img src="assets/img/ued/objetivo1.png" class="img-fluid img-objetive" alt="Unidad de Educación Digital"
              data-aos="fade-up">
          </div>
          <div class="container" data-aos="fade-up">
            <p><strong>Favorecer </strong>procesos pedagógicos innovadores e inclusivos a través de la mediación de
              las tecnologías digitales de forma crítica, creativa y segura, en las distintas propuestas de formación
              virtual.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-stretch mb-5">
        <div class="objetive-item">
          <div class="icon text-center">
            <img src="assets/img/ued/objetivo2.png" class="img-fluid img-objetive" alt="Unidad de Educación Digital"
              data-aos="fade-up">

          </div>
          <div class="container" data-aos="fade-up">
            <p><strong>Apoyar </strong>el desarrollo de Competencias Digitales Docentes como vía potencial para el
              favorecimiento de la permanencia estudiantil en las experiencias virtuales de aprendizaje. </p>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-stretch mb-5">
        <div class="objetive-item">
          <div class="icon text-center">
            <img src="assets/img/ued/objetivo3.png" class="img-fluid img-objetive" alt="Unidad de Educación Digital"
              data-aos="fade-up">
          </div>
          <div class="container" data-aos="fade-up">
            <p><strong>Diseñar </strong>las distintas mediaciones tecnológicas, comunicativas y pedagógicas que
              permitan el fortalecimiento del aprendizaje autónomo, experiencial y adaptativo.</p>
          </div>
        </div>
      </div>


    </div>
  </div>

</section><!-- End Counts Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Líneas Estratégicas de la Unidad de Educación Digital</h2>

    </div>



    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">

      <div class="col-lg-12 col-md-12 portfolio-item filter-ok">
        <div class="portfolio-wrap d-flex justify-content-center">

          <div class="portfolio-links">
            <a href="assets/img/ued/Graficoued.png" data-gallery="portfolioGallery"><img
                src="assets/img/ued/Graficoued.png" class="img-fluid portfolio-lightbox" alt=""></a>
          </div>
        </div>
      </div>

    </div>


  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Dimensión Organizacional</h2>
      <p>Asume el recurso humano institucional como apoyo al proceso de educación digital</p>
    </div>


    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Ramiro.jpg" class="img-fluid" alt="Ramiro Lopera">

          </div>
          <div class="member-info">
            <h4>Ramiro Lopera</h4>
            <p>Docente ocasional / Coordinador</p>
            <span><i class="bi bi-envelope"></i> digital&#64;pascualbravo.edu.co</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Sandra.jpg" class="img-fluid" alt="Sandra Carvajal">

          </div>
          <div class="member-info">
            <h4>Sandra Carvajal</h4>
            <p>Apoyo Administrativo</p>
            <span><i class="bi bi-envelope"></i> apoyoadmin.digital&#64;pascualbravo.edu.co</span>
          </div>
        </div>
      </div>
    </div>


    <!-- Swipper Pedagogica -->

    <div class="section-title">
      <h2>Dimensión Pedagógica</h2>
      <p>Asume el modelo pedagógico orientado a la metodología de educación digital de los programas, la definición de
        cada malla curricular y el diseño instruccional de los mismos.</p>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Jhobana.jpg" class="img-fluid" alt="Sandra Carvajal">

          </div>
          <div class="member-info">
            <h4>Jhobana Herrera Díaz</h4>
            <p>Docente Ocasional</p>
            <p>Líder de Pedagogía</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Paula.jpg" class="img-fluid" alt="Ramiro Lopera">

          </div>
          <div class="member-info">
            <h4>Paula Hoyos</h4>
            <p>Diseñadora de Experiencias Virtuales de Aprendizaje</p>
          </div>
        </div>
      </div>
    </div>


    <div class="section-title">
     <h2>Dimensión Comunicacional</h2>
    <p>Comprende los lineamientos comunicativos y de metodología e-learning, orientados a la producción de
      contenidos articulados al modelo pedagógico digital de la Institución</p>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Jhobana.jpg" class="img-fluid" alt="Sandra Carvajal">

          </div>
          <div class="member-info">
            <h4>Jhobana Herrera Díaz</h4>
            <p>Docente Ocasional</p>
            <p>Líder de Pedagogía</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-10 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/ued/Paula.jpg" class="img-fluid" alt="Ramiro Lopera">

          </div>
          <div class="member-info">
            <h4>Paula Hoyos</h4>
            <p>Diseñadora de Experiencias Virtuales de Aprendizaje</p>
          </div>
        </div>
      </div>
    </div>
 <carousel [interval]="100">
    <slide>
      <img src="assets/img/ued/Biviana.jpg" class="img-fluid" alt="Biviana Arango Muñoz">
      <div class="carousel-caption ">
        <h4>Biviana Arango Muñoz</h4>
        <p>Docente Ocasional / Líder de Tecnología</p>
        <span><i class="bi bi-envelope"></i> tecnologia.digital&#64;pascualbravo.edu.co</span>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Gisselle.jpg" class="img-fluid" alt="Giselle Andrea Tamayo Mármol">
      <div class="carousel-caption">
        <h4>Giselle Andrea Tamayo Mármol</h4>
        <p>Docente Ocasional / Líder de desarrollo</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Oscar.jpg" class="img-fluid" alt="Oscar Alonso Durango Román">
      <div class="carousel-caption">
        <h4>Oscar Alonso Durango Román</h4>
        <p>Administrador de plataformas </p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/DanielF.jpg" class="img-fluid" alt="Daniel Jaime Flórez Aguirre">
      <div class="carousel-caption">
        <h4>Daniel Jaime Flórez Aguirre</h4>
        <p>Desarrollador</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Roger.jpg" class="img-fluid" alt="Brand Roger Duque Caro">
      <div class="carousel-caption">
        <h4>Brand Roger Duque Caro</h4>
        <p>Desarrollador</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Jackeline.jpg" class="img-fluid" alt="Jackeline Cañón">
      <div class="carousel-caption">
        <h4>Jackeline Cañón</h4>
        <p>Soporte técnico a docentes y estudiantes</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Yirley.jpg" class="img-fluid" alt="Yirley Aleandra Gallego Molina">
      <div class="carousel-caption">
        <h4>Yirley Aleandra Gallego Molina</h4>
        <p>Implementación de contenidos</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Julian.jpg" class="img-fluid" alt="Julián Gómez">
      <div class="carousel-caption">
        <h4>Julián Gómez</h4>
        <p>Infraestructura</p>
      </div>
    </slide>
  </carousel>


  </div>




  <!-- Carrousel Comunicacional-->

  <div class="section-title">
    <h2>Dimensión Comunicacional</h2>
    <p>Comprende los lineamientos comunicativos y de metodología e-learning, orientados a la producción de
      contenidos articulados al modelo pedagógico digital de la Institución</p>
  </div>


  <!-- Carrousel Tecnologica

--------------------------------------------

-->

</section><!-- End Team Section -->


<div class="container">
  <carousel [interval]="1000">
    <slide>
      <img src="assets/img/ued/Biviana.jpg" class="img-fluid" alt="Biviana Arango Muñoz">
      <div class="carousel-caption">
        <h4>Biviana Arango Muñoz</h4>
        <p>Docente Ocasional / Líder de Tecnología</p>
        <span><i class="bi bi-envelope"></i> tecnologia.digital&#64;pascualbravo.edu.co</span>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Gisselle.jpg" class="img-fluid" alt="Giselle Andrea Tamayo Mármol">
      <div class="carousel-caption">
        <h4>Giselle Andrea Tamayo Mármol</h4>
        <p>Docente Ocasional / Líder de desarrollo</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Oscar.jpg" class="img-fluid" alt="Oscar Alonso Durango Román">
      <div class="carousel-caption">
        <h4>Oscar Alonso Durango Román</h4>
        <p>Administrador de plataformas </p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/DanielF.jpg" class="img-fluid" alt="Daniel Jaime Flórez Aguirre">
      <div class="carousel-caption">
        <h4>Daniel Jaime Flórez Aguirre</h4>
        <p>Desarrollador</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Roger.jpg" class="img-fluid" alt="Brand Roger Duque Caro">
      <div class="carousel-caption">
        <h4>Brand Roger Duque Caro</h4>
        <p>Desarrollador</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Jackeline.jpg" class="img-fluid" alt="Jackeline Cañón">
      <div class="carousel-caption">
        <h4>Jackeline Cañón</h4>
        <p>Soporte técnico a docentes y estudiantes</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Yirley.jpg" class="img-fluid" alt="Yirley Aleandra Gallego Molina">
      <div class="carousel-caption">
        <h4>Yirley Aleandra Gallego Molina</h4>
        <p>Implementación de contenidos</p>
      </div>
    </slide>
    <slide>
      <img src="assets/img/ued/Julian.jpg" class="img-fluid" alt="Julián Gómez">
      <div class="carousel-caption">
        <h4>Julián Gómez</h4>
        <p>Infraestructura</p>
      </div>
    </slide>
  </carousel>

</div>
<app-cis></app-cis>
<app-footer></app-footer>