<app-header></app-header>

<!-- ======= UED Section ======= -->
<section id="soporte" class="d-flex align-items-center"></section>
<!-- End ued -->

<section id="suport" class="cdd">
  <div class="container" data-aos="fade-up">
    <div
      class="row gy-4 d-flex align-items-center text-left"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="col-lg-6 col-md-6">
        <div class="container" data-aos="fade-up">
          <div class="section-title2">
            <h2>Este es un espacio para que docentes y estudiantes</h2>
          </div>
          <p>
            resuelvan sus inquietudes frente al uso del Campus Digital y demás
            servicios brindados por la Unidad de Educación Digital. Mediante
            herramientas como: respuestas a preguntas frecuentes,
            videotutoriales, manuales de usuario, accesos al sistema de gestión
            de mesa de ayuda y comunicación por chat; se pretende incentivar al
            usuario para un mejor uso y aprovechamiento del Campus Digital y
            demás herramientas.
          </p>
        </div>
      </div>
      <!-- End Service Item -->

      <div class="col-lg-6 col-md-6 d-flex justify-content-center">
        <img class="img-fluid" src="assets/img/soporte/suport.gif" />
      </div>
    </div>
  </div>
</section>
<!-- End Our Services Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
      <div class="section-title3">
        <h3>¿Tienes preguntas?</h3>
      </div>
      <p>Aquí encontrarás respuestas a Preguntas Frecuentes:</p>
    </div>
    <div class="faq-list">
      <ul>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(1)">
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            class="list collapse"
            data-bs-target="#faq-list-1"
          >
            ¿Cómo ingreso a mi clase en modalidad virtual?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
            <ul>
              <li>
                Ingresa a la página web institucional<a
                  href="http://www.pascualbravo.edu.co/"
                >
                  www.pascualbravo.edu.co</a
                >
              </li>
              <li>
                Dirígete al menú <strong>Académico/Educación Digital</strong> o
                pulsa en el siguiente enlace
                <a href="http://www.pascualbravo.edu.co/virtual/"
                  >http://www.pascualbravo.edu.co/virtual/</a
                >
              </li>
              <li>
                En el micrositio haz clic en la opción
                <strong
                  >"Campus Digital", según la opción que corresponda: Campus
                  Idiomas, Campus Posgrado, Campus Pregrado</strong
                >
              </li>
            </ul>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(2)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-2"
            class="list collapsed"
          >
            ¿Cuáles son mis datos de acceso al Campus Digital?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              <strong>Usuario:</strong> dirección de correo electrónico
              institucional incluyendo <strong>&#64;pascualbravo.edu.co</strong>
            </p>
            <p>
              <strong>Contraseña:</strong> documento de identidad sin puntos ni
              espacios; si es la primera vez que visitas el campus, después del
              primer ingreso debes personalizar la contraseña.
            </p>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(3)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-3"
            class="list collapsed"
          >
            ¿Si se me olvidaron mis datos de acceso o no sé cuáles son ¿cómo los
            puedo obtener?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              En este caso, haz clic en la opción “Recordar contraseña”, si no
              logras restablecer su ingreso o no recuerdas tus datos de acceso,
              debes pulsar en "Mesa de ayuda" y solicitar soporte.
            </p>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(4)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-4"
            class="list collapsed"
          >
            ¿Cómo puedo matricular una asignatura en modalidad virtual?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Durante el proceso de matrículas de la institución, puedes
              seleccionar según la oferta desplegable de cada materia, aquellas
              que tengan orientación en modalidad virtual (también puede validar
              este caso con su jefe de programa); recuerde que una asignatura en
              modalidad virtual no se rige por un día en su horario, aunque en
              SICAU le registre alguno, no aplica para esta modalidad, por
              tanto, podrás desarrollarla 24 horas, siete días a la semana de
              manera virtual y cumpliendo con las fechas de entrega en cada
              módulo.
            </p>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(5)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-5"
            class="list collapsed"
          >
            ¿Cuáles asignaturas y cursos puedo matricular en modalidad virtual?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p><strong>Actualmente</strong> se encuentran disponibles las siguientes asignaturas y cursos en modalidad virtual:</p>
            <p>
              La Tecnología en Desarrollo de Software está disponible en su
              totalidad en modalidad virtual
            </p>
            <p>- Fundamentación básica,</p>
            <ul>
              <li>- Cálculo Diferencial,</li>
              <li>- Cálculo Integral,</li>
            </ul>
            <p>- Constitución Política y Participación Ciudadana,</p>
            <ul>
              <li>- Desarrollo Humano y Social,</li>
              <li>- Gestión Empresarial,</li>
              <li>- Física Mecánica,</li>
              <li>- Lengua Materna,</li>
              <li>- Matemáticas Básicas,</li>
              <li>- Gestión Ambiental,</li>
              <li>- Matemáticas Operativas,</li>
              <li>- Metodología de la Investigación,</li>
              <li>- Matemáticas Discretas,</li>
              <li>- Todos los niveles de inglés.</li>
            </ul>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(6)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-6"
            class="list collapsed"
          >
           ¿Qué es la competencia en lengua extranjera? 
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
           <p>Todos los estudiantes admitidos en la Institución Universitaria Pascual Bravo deben evidenciar competencias en lengua extranjera para poder obtener su derecho de grado; la Institución le ofrece la opción de realizar:</p>
<p>- Seis niveles de inglés en horarios flexibles tanto en modalidad presencial como virtual. Requisito obligatorio para obtener el título como técnico profesional o tecnológico.</p>
<p>- Ocho niveles de inglés en modalidad presencial o digital. Requisito obligatorio para obtener el título de ingeniero o profesional.</p>
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(7)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-7"
            class="list collapsed"
          >
            ¿Cómo ingreso a mi clase de inglés en modalidad virtual?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
             <p>Ingresa al sitio web institucional<a href="http://www.pascualbravo.edu.co/"> www.pascualbravo.edu.co</a></p>
<p>Dirígete al menú Académico/Educación Digital o pulsa en el siguiente enlace <a href="http://www.pascualbravo.edu.co/virtual/"> http://www.pascualbravo.edu.co/virtual/</a></p>
         
          </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(8)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-8"
            class="list collapsed"
          >
           ¿Cómo puedo verificar mi dirección de correo electrónico institucional?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
           <p>En el sitio web de la institución<a href="http://www.pascualbravo.edu.co/"> www.pascualbravo.edu.co</a> haz clic en el menú “Estudiantes”, después pulsa en la opción <strong>“ACCESO A SICAU / SICAU”, </strong>diligencia los campos y sigue las indicaciones que se informan, y el sistema le proporcionará los datos de acceso para ingresar y activar tanto SICAU como el correo electrónico institucional.</p>
<p>Nota: su usuario de SICAU es la primera parte de su correo electrónico institucional, Ej. Si su usuario en la plataforma SICAU es <strong>p.perez</strong> solo debe adicionarle <strong>&#64;pascualbravo.edu.co</strong>, y esa será su dirección de correo electrónico institucional, el resultado es: <strong>p.perez&#64;pascualbravo.edu.co</strong>.</p>
             </div>
        </li>
        <li
          [@fadeUp]="'void'"
          data-aos="fade-up"
          (click)="toggleCollapse(9)"
          data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a
            data-bs-toggle="collapse"
            data-bs-target="#faq-list-9"
            class="list collapsed"
          >
            Si tengo alguna duda o inconveniente con el correo electrónico institucional, ¿qué debo hacer?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                          <p>Si presenta alguna dificultad, duda o necesita asesoría, debe escribir un correo (puede ser desde una cuenta de correo personal) a <strong>gestioncorreos&#64;pascualbravo.edu.co</strong> incluyendo:</p>
<ul>
<li>- Nombre completo,</li>
<li>- Documento de identidad,</li>
<li>- Número de código SAI o carné,</li>
<li>- Programa académico,</li>
<li>- Describir con claridad el inconveniente que presenta o lo que desee expresar.</li>
</ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- End Frequently Asked Questions Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="text-center">
      <div class="section-title">
        <h2>Te recomendamos</h2>
      </div>

      <p>
        Si después de explorar las preguntas frecuentes continua con dudas, te
        invitamos a visitar la sección de videotutoriales que hemos preparado
        para docentes, estudiantes y comunidad académica en general.
      </p>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div
        class="row d-flex align-items-center justify-content-center position-relative"
      >
        <div
          class="col-lg-4 col-md-4 d-flex align-items-center position-relative"
        >
          <i class="bi bi-person-fill" data-aos="zoom-in"></i>
          <a href="../docentes"
            ><img
              class="img-fluid"
              src="assets/img/soporte/docentes.png"
              alt="Imagen 1"
              class="img-fluid"
              data-aos="zoom-in"
          /></a>
        </div>
        <div
          class="col-lg-4 col-md-4 d-flex align-items-center position-relative"
        >
          <i class="bi bi-person-fill" data-aos="zoom-in"></i>
          <a href="../estudiantes"
            ><img
              class="img-fluid"
              src="assets/img/soporte/estudiantes.png"
              alt="Imagen 2"
              data-aos="zoom-in"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Cta Section -->

<section id="dudas" class="objetives" data-aos="fade-up" data-aos-delay="100">
  <div class="container position-relative">
    <div class="section-title2">
      <h2>¿Aún tienes dudas?</h2>
    </div>

    <div class="container" data-aos="fade-up">
      <p>
        Si después de haber explorado cada una de las opciones anteriores aún
        tienes dudas, puedes escribirnos y así serás atendido por un agente de
        soporte técnico.
      </p>
    </div>
  </div>

  <div class="container position-relative">
    <div
      class="banner-item row d-flex align-content-center justify-content-center"
    >
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h3>
          <a href="https://soporte.pascualbravovirtual.edu.co/" target="_blank"
            >¡Escríbenos!</a
          >
        </h3>
        <h4>
          <a href="https://soporte.pascualbravovirtual.edu.co/" target="_blank"
            >Un agente de soporte te atenderá</a
          >
        </h4>
      </div>

      <div
        class="col-lg-3 col-md-3 col-sm-12 d-flex align-content-center justify-content-center"
      >
        <img
          class="img-fluid img-btn"
          src="assets/img/soporte/Chica.png"
          alt=""
        />
        <img
          class="img-fluid icon-image2"
          src="assets/img/competencia/mano.svg"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->

<app-cis></app-cis>
<app-footer></app-footer>
