<app-header></app-header>

<section id="estudiante" class="cdd">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4 d-flex align-items-center text-left" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6 col-md-6">

        <div class="container" data-aos="fade-up">
          <div class="section-title2">
            <h2>Ayuda para estudiantes</h2>
          </div>
          <p>¡Hola! Somos la Unidad de Educación Digital y les damos la bienvenida a este espacio académico y de
            aprendizaje.</p>
          <p>Recuerda que, como estudiante virtual, estás comprometido con la autogestión de tu conocimiento y la
            autorregulación de tus tiempos. Por lo tanto, este espacio nos permitirá ayudarte y resolver dudas, para que
            tengas una buena experiencia de aprendizaje pascualina.</p>
        </div>
      </div>
      <!-- End Service Item -->
      <div class="col-lg-6 col-md-6 d-flex justify-content-center">
        <img class="img-fluid img-btn2" src="../../assets/img/estudiante/Estudiante.svg">
      </div>
    </div>
  </div>
</section>

<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">
    <div class="container" data-aos="fade-up">
      <div class="section-title3">
        <h2>Preguntas frecuentes</h2>
        <h3>¿Tienes preguntas? </h3>
      </div>
      <p>Aquí encontrarás las respuestas a las preguntas frecuentes.</p>
    </div>
    <div class="faq-list">
      <ul>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(1)">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" class="list collapse" data-bs-target="#faq-list-1">
            ¿Cómo identificar en qué campus virtual se encuentra el curso o asignatura matriculada?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 1" id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
         <p>Verificar en el correo electrónico institucional el mensaje de bienvenida. En él se informa dónde se encuentra alojado el curso o asignatura. Si el mensaje de bienvenida no se ha generado durante la primera semana del semestre, se deberá generar un <em>ticket</em>, haciendo la solicitud respectiva. Para crearlo, ingresa al siguiente enlace:<a href="https://soporte.pascualbravovirtual.edu.co/" target="_blank" rel="noopener">https://soporte.pascualbravovirtual.edu.co/</a></p>
          </div>
        </li>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(2)" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="list collapsed">
           ¿Cómo ingresar a la clase en modalidad virtual alojada en campus integrado?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 2" id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>Ingresa al siguiente enlace: <a href="https://campus.pascualbravovirtual.edu.co/" target="_blank" rel="noopener">https://campus.pascualbravovirtual.edu.co/</a></p>
          </div>
        </li>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(3)" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="list collapsed">
            ¿Cómo ingresar a la clase en modalidad virtual alojada en &#64;Medellín?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 3" id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
           <p>Ingresa al siguiente enlace: <a href="https://campus.arrobamedellin.edu.co/" target="_blank" rel="noopener">https://campus.arrobamedellin.edu.co/</a></p>
          </div>
        </li>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(4)" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="list collapsed">
            ¿Qué hacer en caso de olvidar el usuario o contraseña en el campus integrado?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 4" id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
          <p>Lo primero que debe hacer es hacer clic en la opción “Recordar contraseña”. Si no logra restablecer su ingreso o no sabe sus datos de acceso, debe dar clic en “Mesa de ayuda” y solicitar un soporte.</p>
          </div>
        </li>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(5)" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="list collapsed">
            ¿Qué hacer en caso de olvidar el usuario o contraseña en &#64;medellín?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 5" id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>Debe dirigirse al centro de soporte y generar la solicitud, a través de la creación de un <em>ticket</em>. Para crearlo, ingresa al siguiente enlace: <a href="https://soporte.pascualbravovirtual.edu.co/" target="_blank" rel="noopener">https://soporte.pascualbravovirtual.edu.co/</a></p>
          </div>
        </li>
        <li [@fadeUp]="'void'" data-aos="fade-up" (click)="toggleCollapse(6)" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="list collapsed">
            ¿Cómo verificar la dirección de correo electrónico institucional?
            <i class="bx bx-chevron-down icon-show"></i>
            <i class="bx bx-chevron-up icon-close"></i>
          </a>
          <div [hidden]="elementoAbierto === 6" id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
            <p>Todos los estudiantes admitidos en la Institución Universitaria Pascual Bravo deben evidenciar
              competencias en lengua extranjera para poder obtener su derecho de grado; la Institución le ofrece la
              opción de realizar:</p>
            <p>- Seis niveles de inglés en horarios flexibles tanto en modalidad presencial como virtual. Requisito
              obligatorio para obtener el título como técnico profesional o tecnológico.</p>
            <p>- Ocho niveles de inglés en modalidad presencial o digital. Requisito obligatorio para obtener el título
              de ingeniero o profesional.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="sos" class="sos" data-aos="fade-up" data-aos-delay="100">
  <div class="container position-relative">
    <div class="section-title3">
      <h2>S.O.S Estudiantes</h2>
    </div>
    <div class="sos-list">
      <ul>
        <li data-aos="fade-up" (click)="toggleSOSList(1)" data-aos-delay="100">
          <img src="assets/img/docente/icon-pascual.png" class="icon-help" />
          <a data-bs-toggle="collapse" class="list collapse collapsed" data-bs-target="#sos-list-1">
            <p>Aula virtual de aprendizaje</p>
            <h4>Campus Integrado I. U. Pascual Bravo</h4>
            <i class="bi bi-plus icon-show"></i><i class="bi bi-dash-lg icon-close"></i>
          </a>
          <div [hidden]="elementoAbiertoVideo === 1" id="sos-list-1" class="collapse" data-bs-parent=".faq-list">
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <p>
                ¿Cómo ingresar y visualizar el aula virtual en el campus
                integrado <strong>I. U. Pascual Bravo</strong>?
              </p>
              <button class="cta-btn1" onclick="window.open('https://soporte.pascualbravovirtual.edu.co/', '_blank')">
                Soporte I.U.P. B <i class="bi bi-box-arrow-right"></i>
              </button>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/8PQVMPJ_LhI?si=irfB6isglojipQU4?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Formato pestaña</h4>
                    </div>
                    <div class="col-lg-6 col-md-6"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/ETtymI88ZPc?si=Kd44hny4Kb7B4A2L?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Formato mosaico</h4>
                    </div>
                    <div class="col-lg-6 col-md-6"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/R0Jbu6FgYO0?si=eZFcOsfTHvWhLfxy?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>AEAE</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-AEAE-docentes.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/IIK_61nfUNE?si=81lhjCGiJjGtLgcy?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>TIA formativa</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-TIA-formativas-docentes.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/PZVNaM9jFNo?si=nBMAAiZY7da8A-QI?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>TIA sumativa</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-TIA-sumativas-docentes.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/nKDKP06kPiU?si=n9ZHINHZ4X1XS9QX?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Creación de grupos</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-Creacion-de-grupos-en-Moodle-docente.pdf"
                        target="_blank"><i class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/h2IxfjAKAek?si=Sie0tGRjOB0LpkEH?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Agenda de concertación</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-Agenda-concertacion-docentes.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/xwU2wVyJOQY?si=u-29dRpbl6dfQNhp?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Agenda de avance</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/iupb/Instructivo-Agenda-de-avance-docentes.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i>
                        Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- <li data-aos="fade-up" (click)="toggleSOSList(2)" data-aos-delay="100">
          <img src="assets/img/docente/icon-medellin.png" class="icon-help" />
          <a data-bs-toggle="collapse" class="list collapse collapsed" data-bs-target="#sos-list-2">
            <p>Aula virtual de aprendizaje</p>
            <h4>Campus &#64;Medellín</h4>
            <i class="bi bi-plus icon-show"></i><i class="bi bi-dash-lg icon-close"></i>
          </a>
          <div [hidden]="elementoAbiertoVideo === 2" id="sos-list-2" class="collapse" data-bs-parent=".faq-list">
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <p>¿Cómo ingresar y visualizar el aula virtual en el campus <strong>&#64;medellin</strong>?</p>
              <button class="cta-btn1"
                onclick="window.open('https://soporte.arrobamedellin.edu.co/support/upload/', '_blank')">Soporte
                &#64;medellin <i class="bi bi-box-arrow-right"></i></button>

              <div class="col-lg-4 col-md-4">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/Eg3iFoX-BgY?si=ECinUwBHCLFS4ecw?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-10 col-md-10">
                      <h4>Parte 1</h4>
                    </div>
                    <div class="col-lg-2 col-md-2">

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/eSSUiMrqQp0?si=HQgF8sfTM_3KDrmv?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-10 col-md-10">
                      <h4>Parte 2</h4>
                    </div>
                    <div class="col-lg-2 col-md-2">

                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/yT8xYP7e2Lk?si=EMGGIjUTe3CNSPkO?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-10 col-md-10">
                      <h4>Parte 3</h4>
                    </div>
                    <div class="col-lg-2 col-md-2">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/R0Jbu6FgYO0?si=Q3sn4ZLPPGZtSmyU?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>AEAE</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo_AEAE_docentes-arroba.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/IIK_61nfUNE?si=wtBdvOVrnW2anLkA?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>TIA formativa</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo-TIA-formativas-docentes-arroba.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/PZVNaM9jFNo?si=tDMb1_g98j10_sfQ?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>TIA sumativa</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo-TIA-sumativas-docentes-arroba.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/u-NjNvqJfVc?si=ZwIyLvJ0Dgcc36oQ?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Creación de grupos</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo-creacion-grupos-docentes-arroba.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-4 mb-5" data-aos="fade-up" data-aos-delay="100">
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/h2IxfjAKAek?si=cv8PsNiPPGn-Qifu?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Agenda de concertación</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo-Agenda-concertacion-docentes-arroba.pdf"
                        target="_blank"><i class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="container cont-video h-100">
                  <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/xwU2wVyJOQY?si=g6hp3XH0i6LMSv3m?rel=0"
                      title="YouTube video" allowfullscreen></iframe>
                  </div>
                  <div class="cont-body row d-flex align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                      <h4>Agenda de avance</h4>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <a class="cta-btn3 d-flex align-items-center justify-content-center"
                        href="docs/docentes/arroba/Instructivo-Agenda-de-avance-docentes-arroba.pdf" target="_blank"><i
                          class="bi bi-file-earmark-text-fill"></i> Instructivo</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>

<app-cis></app-cis>
<app-footer></app-footer>