<app-header></app-header>
<main id="maincontent" class="main">
  <carousel [interval]="7000">
   
      <!-- Primer slide -->
   
    <slide id="1">
      <section id="hero" class="hero">
        <div
          class="container titulos position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row  gy-5">
            <div
              class="col-lg-10 col-md-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
            >

           
                <div class="parrafo-1">
                  <h1><span class="titulo-bold">¡Te damos la bienvenida</span> al <span class="titulo-bold2">semestre 2024-2!</span></h1>
                                  
             </div>
                <div class="parrafo-2">
                <p>Anímate a explorar, aprender y desarrollar nuevas habilidades.</p>
            </div>
        
            
           
            
                
         
            
            
              <div style="margin-top: 60%"></div>
            </div>
          </div>
        </div>
      </section>
    </slide>
    
    <!-- segundo slide -->

   
    <slide id="2">
      <section id="hero2" class="hero2">
        <div
          class="container titulos position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row gy-5">
            <div
              class="col-lg-10 col-md-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start"
            >
            <div class="parrafo-3">
              <h1><span class="titulo-bold3">¡Nueva mensajería</span> en el Campus Digital Institucional!</h1>             
         </div>
            <div class="parrafo-4">
            <p>Más eficiente, intuitiva y fácil de usar.</p>
        </div>

        <div class="parrafo-5">
          <p>Una mejor forma de conectar con tus compañeros y profesores. </p>
      </div>

              <div style="margin-top: 60%"></div>
            </div>
          </div>
        </div>
      </section>
    </slide>
    <section id="hero1" class="hero1">
 <div class="icon-boxes1 position-relative">
  <div style="margin-top: 20%"></div>
      <div class="container position-relative pt-5">
        <div class="row gy-4 pt-5">
          <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box1 text-center">
              <div class="icon">
                <a href="../unidad" alt="Unidad de Educación Digital"><img src="assets/img/iconos/ued.svg"
                    class="img-fluid img-icon" alt="Unidad de Educación Digital" /></a>
              </div>
              <h2 class="title text-center">
                <a href="../unidad">Unidad de Enseñanza y Aprendizaje Digital</a>
              </h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box1 text-center">
              <div class="icon">
                <a href="../competencia" alt="Competencia Digital Docente"><img src="assets/img/iconos/cdd.svg"
                    class="img-fluid img-icon" alt="Competencia Digital Docente" /></a>
              </div>
              <h2 class="title text-center">
                <a href="../competencia">Competencia Digital Docente</a>
              </h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box1 text-center">
              <div class="icon">
                <a href="../recursos" alt="Recursos educativos Digitales"><img src="assets/img/iconos/recursos.svg"
                    class="img-fluid img-icon" alt="Recursos educativos Digitales" /></a>
              </div>
              <h2 class="title text-center">
                <a href="../recursos">Recursos Educativos Digitales</a>
              </h2>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in"
            data-aos-delay="500">
            <div class="icon-box1 text-center">
              <div class="icon">
                <a href="../soporte" alt="Centro de Soporte"><img src="assets/img/iconos/soporte.svg"
                    class="img-fluid img-icon" alt="Centro de Soporte" /></a>
              </div>
              <h2 class="title text-center">
                <a href="../soporte">Centro de Soporte</a>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
   
  </carousel>

  <!-- End Hero -->

</main>
  <!-- ======= homecards Section ======= -->
  <section id="homecards" class="homecards">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Programas Virtuales</h2>
        <div class="descrip">
          <p>A través de un enfoque pedagógico centrado en el estudiante, estamos comprometidos con el diseño de experiencias virtuales de aprendizaje que promuevan las competencias técnicas y transversales, habilidades interpersonales y el pensamiento crítico. Nuestro objetivo es que los estudiantes se adapten a diferentes entornos profesionales y enfrenten con éxito los retos de la sociedad actual. </p>
        </div>
        
      </div>
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <a
          href="https://pascualbravo.edu.co/facultades/facultad-de-ingenieria/programas/tecnologia-en-desarrollo-de-software/"
          aria-label="Ir al sitio y ver mas informacion sobre la tecnologia en Desarrollo de software (se abre en una nueva pestaña)"
          target="_blank"
          ><img
                class="img-fluid img-programs"
                src="assets/img/TGL-1.png"
                alt="Imagen direccionamiento tecnología gestión logística"
                data-aos-delay="300"
              /></a>
              </div>
              <div class="member-info">
                <div class="member-title">
                  <h4>Tecnología en Gestión logística</h4>
                </div>
                <div class="member-body">
                  <p>Desarrolla la capacidad de planear sistemas relacionados con compras, aprovisionamiento, inventarios, almacenamiento, distribución y transporte.</p>
                </div>
                
                
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <a
                href="https://pascualbravo.edu.co/facultades/facultad-de-ingenieria/programas/tecnologia-en-desarrollo-de-software/"
                aria-label="Ir al sitio y ver mas informacion sobre la tecnologia en Desarrollo de software (se abre en una nueva pestaña)"
                target="_blank"
                > <img
              class="img-fluid img-programs"
              src="assets/img/TDS-2.png"
              alt="Imagen direccionamiento tecnología en desarrollo de software"
              data-aos-delay="300"
            /></a>
              </div>
              
              <div class="member-info">
                <div class="member-title">
                  <h4>Tecnología en Desarrollo de software</h4>
                </div>
                <div class="member-body">
                  <p>Aprende a intervenir los sistemas de software para la toma de decisiones en la operación eficiente de procesos.</p>
                </div>
                
                
               
  
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
          <div data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <a
                href="https://pascualbravo.edu.co/programas/maestria-en-diseno-y-evaluacion-de-proyectos-regionales/"
                aria-label="Ir al sitio y ver mas informacion sobre la maestria en Maestria diseño y evaluacion de proyectos regionales (se abre en una nueva pestaña)"
                target="_blank"
                ><img
              class="img-fluid img-programs"
              src="assets/img/MED-3.png"
              alt="Imagen direccionamiento Maestría diseño y evaluación de proyectos regionales"
              data-aos-delay="400"
            /></a>
              </div>
              <div class="member-info">
                <div class="member-title">
                  <h4>Maestría en Diseño y Evaluación de Proyectos Regionales</h4>
                </div>
                <div class="member-body">
                  <p>Desarrolla competencias clave en la identificación, preparación, evaluación, financiación y sostenibilidad de proyectos de inversión para entidades públicas.</p>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End #main -->
<app-cis></app-cis>
<app-footer></app-footer>
