<!-- CIS -->
<section id="cis" class="cis">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-1 col-md-1 d-flex align-items-center justify-content-center"
      >
        <i class="bi bi-telephone-outbound-fill"></i>
      </div>
      <div class="col-lg-7 col-md-9">
        <p>CIS: CENTRO INTEGRADO DE SERVICIOS</p>
        <h3>TEL: +57 604 448 0520</h3>
        <p>
          Lunes a viernes: 8:00 a.m. a 7:00 p.m., en jornada continua - Sábados:
          8:00 a.m. a 1:00 p.m.
        </p>
      </div>
      <div
        class="col-lg-4 col-md-2 d-flex align-items-center justify-content-center"
      >
        <!-- Puedes agregar contenido aquí si es necesario -->
      </div>
    </div>
  </div>
</section>
<!-- End CIS -->