<app-header></app-header>


<section id="competencia" class="d-flex align-items-center">
  


</section><!-- End ued -->


  <section id="cdd" class="cdd">
      <div class="container" data-aos="fade-up">



        <div class="row gy-4 d-flex align-items-center text-left" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 col-md-6">
          

            <div class="container" data-aos="fade-up">
              <div class="section-title2">
                <h2>¿Qué es la Competencia Digital Docente?</h2>
            </div>
            <p>
              DigCompEdu (2020) sitúa el término de Competencia Digital Docente en el plano del “aprovechamiento del potencial de las tecnologías digitales para fomentar la innovación en las prácticas de educación y capacitación, mejorar el acceso al aprendizaje permanente y formar en las nuevas habilidades y competencias (digitales) necesarias para el empleo, el desarrollo personal y la inclusión social”.
            </p>
                       
          </div>
          </div><!-- End Service Item -->

          <div class="col-lg-6 col-md-6">
                <img  class="img-fluid" src="assets/img/competencia/Ilustracion.gif">
          </div>



     

        </div>

      </div>
    </section><!-- End Our Services Section -->


  <main id="main">
<!--Aceesibilidad-->
<a type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample"><img class="img-accesibilidad" src="assets/img/Btn-accesibilidad.png" alt="Boton de accesibilidad"></a>
<div class="collapse collapse-horizontal" id="collapseWidthExample">
  <div class="card card-body access">
    <div class="accesibilidad test">
     <a class="d-flex align-items-right" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" class="collapsed"><i class="bi bi-x-lg"></i></a>
      <div class="row">
        <div class="col-lg-12 mb-1 d-flex justify-content-center">
          <button class="btn-access h-100" id="aumentarLetra"><img  class="icon-acces" src="assets/img/Aumentar-tamaño.png" alt=""> <p>Aumentar Tamaño</p></button>
        </div>
        <div class="col-lg-12 mb-1 d-flex justify-content-center">
          <button class="btn-access h-100" id="disminuirLetra"><img  class="icon-acces" src="assets/img/Disminuir-tamaño.png" alt="">
            <p>Disminuir Tamaño</p> </button>
        </div>
        <div class="col-lg-12 mb-1 d-flex justify-content-center">
          <button class="btn-access h-100" id="volverTamano"><img  class="icon-acces" src="assets/img/Normal.png" alt="">
            <p>Tamaño Inicial</p> </button>
        </div>
        <div class="col-lg-12 mb-1 d-flex justify-content-center">
          <button class="btn-access h-100" id="cambiarContraste"><img  class="icon-acces" src="assets/img/Cambiar-contraste.png" alt="">
            <p>Cambiar Contraste</p> </button>
        </div>  
        <div class="col-lg-12 mb-1 d-flex justify-content-center">
          <button class="btn-access h-100" aria-label="Centro de Relevo (se abre en una nueva pestaña)" onclick="window.open('https://centroderelevo.gov.co/632/w3-channel.html', '_blank')"><img  class="icon-acces" src="assets/img/Centro.png" alt="">
            <p>Centro de Relevo</p> </button>
        </div>  
      </div>
    </div>
  </div>
</div>
    <!-- END ACCESIBILIDAD-->
  </main><!-- End #main -->




 <section id="objetives" class="objetives" data-aos="fade-up" data-aos-delay="100">
    <div class="section-title">
          <h2>¿Cuál es el Marco de Referencia de la Competencia Digital Docente?
</h2>
          
        </div>
      <div class="container position-relative">
        
        <div class="row gy-4 d-flex align-content-center justify-content-center">

          <div class="col-lg-12 col-md-12 col-sm-12 d-flex align-content-center">
<p class="text-center">El Marco Europeo para la Competencia Digital de los Educadores - DigCompEdu (2020), traducido también por la Fundación Universia y del Instituto Nacional de Tecnologías Educativas y de Formación del Profesorado (INTEF), es una construcción científicamente sólida que ayuda a guiar las políticas en materia de programas de capacitación regionales y nacionales. Además, proporciona un lenguaje y un enfoque comunes, que ayudan al diálogo y al intercambio de buenas prácticas entre los distintos territorios.</p>
            </div>
          </div>

            <div class="banner-item row d-flex align-content-center justify-content-center">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <a href="https://www.metared.org/content/dam/metared/pdf/marco_europeo_para_la_competencia_digital_de_los_educadores.pdf" target="_blank"><img  class="img-fluid img-btn" src="assets/img/competencia/marco.svg"></a>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-12 d-flex align-content-center justify-content-center p-2">
              <p><span class="ptexto"><a href="https://www.metared.org/content/dam/metared/pdf/marco_europeo_para_la_competencia_digital_de_los_educadores.pdf" target="_blank" title="clic para ver más">El Marco Europeo para la Competencia digital de los Educadores,</a></span> <br>presenta seis áreas que se centran en diferentes aspectos de las actividades profesionales de los educadores, a saber: compromiso profesional, contenidos digitales, enseñanza y aprendizaje, evaluación y retroalimentación, empoderamiento de los estudiantes y desarrollo de la competencia digital de los estudiantes</p><img  class="img-fluid icon-image" src="assets/img/competencia/mano.svg"></div>
              
              </div>
            

          
            
          
     



        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>El modelo de Competencia Digital Docente ComDig I.U. Pascual Bravo</h2>

        </div>
<p class="text-center">A partir del Marco Europeo para la Competencia Digital de los Educadores - DigCompEdu, la institución concibió y diseñó el Modelo ComDig I.U. Pascual Bravo, ubica los 6 niveles de complejidad competencial o ámbitos de idoneidad (A1, A2, B1, B2, C1 y C2), los ámbitos de aplicación en los cuales se evidencia la competencia: aula de clase, institución educativa, los ámbitos personal y profesional y el referido al entorno y sociedad. Al interior de estos ámbitos se hallan las dimensiones que comporta la Competencia Digital Docente: Enseñanza y Aprendizaje, Comunicación y Colaboración, Recursos Educativos Digitales y Ética y seguridad. 
</p>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">

          <div class="col-lg-12 col-md-12 portfolio-item filter-ok">
            <div class="portfolio-wrap d-flex justify-content-center">

              <div class="portfolio-links">
              <a href="assets/img/competencia/dimensiones.jpg" data-gallery="portfolioGallery"><img src="assets/img/competencia/dimensiones.jpg" class="img-fluid portfolio-lightbox" alt="Imagen de los niveles y dimensiones de la competencia digital docente"></a>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="container">
        <div class="accordion accordion-flush" id="accordionAlternativa">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-Alternativa">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseAlternativa" aria-expanded="false" aria-controls="flush-collapseAlternativa">
                Alternativa textual
              </button>
            </h2>
            <div id="flush-collapseAlternativa" class="accordion-collapse collapse" aria-labelledby="flush-Alternativa" data-bs-parent="#accordionAlternativa">
              <div class="accordion-body"><p>La figura que se muestra es una representación gráfica del Modelo de
                Competencia Digital Docente ComDig Institución Universitaria Pascual Bravo. Está instituida por
                tres componentes, que van organizados de manera circular, de afuera hacia adentro. El primer
                componente hace referencia a los niveles de complejidad de la competencia digital, los cuales se
                conciben en orden ascendente: A1, A2, B1, B2, C1 y C2. El siguiente componente que se ubica de
                manera externa, formando un segundo círculo, corresponde a los ámbitos o contextos de
                aplicación de la competencia, a saber: aula de clase, institución educativa, contexto personal y
                profesional y entorno y sociedad. El tercer círculo que se ubica de manera más interna es el que
                corresponde a las dimensiones, las cuales son cuatro: enseñanza y aprendizaje, comunicación y
                colaboración, Recursos Educativos Digitales y ética y seguridad. Finalmente, el círculo central hace
                alusión a la estrategia de formación en Competencia Digital Docente llamada: Ser+Digital, con la
                que se espera que los profesores adquieran la competencia en el contexto de su profesión.</p></div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio2" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Niveles de Competencia Digital Docente</h2>

        </div>



        <div class="icon-boxes position-relative">
          <div class="container position-relative">
            <div class="row gy-4">
            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/A1-8.png" class="img-fluid img-icon"  alt="Unidad de Educación Digital"></div>
                <h4 class="title text-center">Explorador</h4>
                <p class>Planificación de los procesos de enseñanza y aprendizaje</p>
                <p class="parraf">Comunicación con estudiantes</p>
                <p class="parraf">Búsqueda recursos educativos digitales</p>
                <p class="parraf">Prácticas éticas y legales</p>
              </div>
            </div>
    
            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/A2-8.png" class="img-fluid img-icon"  alt="Competencia Digital Docente"></div>
                <h4 class="title text-center">Integrador</h4>
                <p>Didáctica</p>
                <p class="parraf">Colaboración entre los estudiantes</p>
                <p class="parraf">Curaduría de recursos educativos digitales</p>
                <p class="parraf">Seguridad en entornos digitales</p>
              </div>
            </div>
    
            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="400">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/B1-8.png" class="img-fluid img-icon"  alt="Recursos educativos Digitales"></div>
                <h4 class="title text-center">Transformador</h4>
                <p>Orientación y seguimiento a estudiantes</p>
                <p class="parraf">Interacción en entornos digitales</p>
                <p class="parraf">Modificación de recursos educativos digitales</p>
                <p class="parraf">Derechos y la propiedad intelectual</p>
              </div>
            </div>
    
            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="500">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/B2-8.png" class="img-fluid img-icon"  alt="Centro de Soporte"></div>
                <h4 class="title text-center">Innovador</h4>
               <p>Evaluación y retroalimentación</p>
               <p class="parraf">Creación conjunta de conocimiento</p>
              <p class="parraf">Creación de recursos educativos digitales</p>
              <p class="parraf">Identidad digital</p>
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="500">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/C1-8.png" class="img-fluid img-icon"  alt="Centro de Soporte"></div>
                <h4 class="title text-center">Relacional</h4>
               <p>Direccionamiento pedagógico</p>
               <p class="parraf">Participación y creación de grupos académicos</p>
               <p class="parraf">Diseño de entornos personales de aprendizaje (PLE)</p>
               <p class="parraf">Ética de la ciudadanía digital</p>              
              </div>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 d-flex align-items-stretch mb-5" data-aos="zoom-in" data-aos-delay="500">
              <div class="icon-box text-center">
                <div class="icon"><img src="assets/img/competencia/C2-8.png" class="img-fluid img-icon"  alt="Centro de Soporte"></div>
                <h4 class="title text-center">Empoderamiento</h4>
               <p>Accesibilidad e inclusión para el aprendizaje</p>
               <p class="parraf">Constitución de comunidad académica</p>
               <p class="parraf">Personalización de los recursos y contenidos digitales</p>
               <p class="parraf">Gestión de los riesgos de las tecnologías digitales</p>               
              </div>
            </div>
          
          
          </div></div>
    
          </div>



      </div>
    </section><!-- End Portfolio Section -->


 <!-- Estrategia -->



  <section id="estrategia" class="cdd">
      <div class="container" data-aos="fade-up">



        <div class="row gy-4 d-flex align-items-center text-left mb-5" data-aos="fade-up" data-aos-delay="100">


 
          <div class="col-lg-5 col-md-4">
          

            <div class="container" data-aos="fade-up">
              <div class="section-title2">
                <h2>¿Qué es la estrategia de formación Ser+Digital? </h2>
            </div>
            <p>
              La estrategia de formación en Competencia Digital Docente Ser+Digital, responde al reto que la Institución Universitaria Pascual Bravo tiene en torno a la formación de los docentes en los diversos ámbitos que implica el uso crítico, creativo y seguro de las tecnologías digitales. Esta estrategia se materializa a través de las diferentes rutas de formación que están encaminadas de manera progresiva y personalizada, de acuerdo con el resultado de la caracterización y autodiagnóstico de la Competencia Digital Docente.

            </p>
                       
          </div>
          </div><!-- End Service Item -->

        
         <div class="col-lg-7 col-md-8">
              
              <div class="ratio ratio-16x9">
  <iframe src="https://www.youtube.com/embed/ZEnrrjABLTk?rel=0" title="YouTube video" allowfullscreen></iframe>
</div>
          </div>


     

        </div>

      </div>
    </section><!-- End Our Services Section -->






<app-cis></app-cis>
<app-footer></app-footer>