<app-header></app-header>
 <!-- ======= UED Section ======= -->
<section id="recursos" class="d-flex align-items-center">
  


</section><!-- End ued -->


  <section id="digitales" class="cdd">
      <div class="container" data-aos="fade-up">



        <div class="row gy-4 d-flex align-items-center text-left" data-aos="fade-up" data-aos-delay="100">


            <div class="col-lg-6 col-md-6 d-flex justify-content-center">
                <img  class="img-fluid" src="assets/img/recurso/digitales.gif">
          </div>
          <div class="col-lg-6 col-md-6">
          

            <div class="container" data-aos="fade-up">
              <div class="section-title2">
                <h2>El Repositorio Institucional de Recursos Educativos Digitales</h2>
            </div>
            <p>
              de la Institución Universitaria Pascual Bravo, pone a disposición de la comunidad educativa un banco de recursos educativos a través del cual se pretende promover, dinamizar, apoyar y facilitar la adopción del acceso abierto del conocimiento mediado por el uso de las tecnologías digitales.</p>
              <p>En el Repositorio Institucional de Recursos Educativos Digitales, encontrarás, entre otros, libros interactivos, objetos de aprendizaje y objetos informativos.

            
            </p>
               <a class="cta-btn3 d-flex align-items-center justify-content-center" href="https://repositorio.pascualbravovirtual.edu.co/" target="_blank"> Ir al Repositorio <i class="bi bi-arrow-right"></i></a>
          </div>
          </div><!-- End Service Item -->

    
        </div>

      </div>
    </section><!-- End Our Services Section -->
<app-cis></app-cis>
<app-footer></app-footer>